$adv-grid-items-list:
        customers-text
        customers-image
        delivery-text
        delivery-image
        payment-text
        payment-image;

@mixin adv-areas {
  @each $adv-item in $adv-grid-items-list {
    &__#{$adv-item} { grid-area: $adv-item; }
  }
}

.advantages {
  display: grid;
  grid-column-gap: 30px;
  grid: repeat(3, auto)/1fr 493px 493px 1fr;
  justify-content: center;
  grid-row-gap: 77px;
  padding-top: 80px;

  @include adv-areas;
  grid-template-areas:
          ". customers-image customers-text ."
          ". delivery-text delivery-image ."
          "payment-image payment-image payment-text .";

  @include respond-to(small-and-medium-screens) {
    grid: auto / auto;
    @include adv-areas;
    grid-template-areas:
            "customers-text"
            "customers-image"
            "delivery-text"
            "delivery-image"
            "payment-text"
            "payment-image";
    padding-bottom: 80px;
  }

  @include respond-to(from-medium-to-laptop-l-screens) { grid: repeat(3, auto)/1fr repeat(2,465px) 1fr; }

  &__heading {
    margin-bottom: 13px;
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 18px;
    max-width: 390px;
  }

  &__customers-text {
    padding-left: 66px;
    padding-top: 60px;
  }

  &__delivery-text {
    padding-top: 69px;
  }

  &__payment-text {
    padding: 78px 0 78px 65px;
    @include respond-to(from-medium-to-laptop-l-screens) { padding-top: 20px; }
  }

  &__customers-text, &__delivery-text, &__payment-text {
    @include respond-to(medium-screens) { padding: 0; }
    @include respond-to(mobile-l-screens) { padding: 0 30px; }
  }

  &__paragraph {
    @include respond-to(medium-screens) { max-width: 100%; }
  }

  &__customers-image,
  &__delivery-image,
  &__payment-image {
    line-height: 0;
  }

  & &__payment-image {
    @include respond-to(large-screens) {
      max-width: initial;
    }
  }
}
