.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 20px 0;
  border-top: $light-border;
  border-bottom: $light-border;

  &__social-link {
    margin-left: 10px;
  }

  &__svg {
    path {
      fill: white;
    }

    vertical-align: middle;
  }

  & &__list-item {
    padding: 21px 10px 21px 0px;
    line-height: 20px;
  }

  & &__list-dropdown {
    width: 276px;
    top: auto;
    bottom: 55px;
    left: -10px;
    transform: translateY(10px);
  }

  //lets use context here
  .popup li {
    padding: 10px 20px;
  }
}
