// NOTE: I didn't know that this block originally has the whole background image
//       So I've split the original image by pieces
//       to make an experiment with the grid and to play with the responsive layout behaviour

.business-tools {
  display: grid;
  grid: auto / 59% 41%;
  @include respond-to(small-and-medium-screens) { grid: initial; }

  // elements
  &__heading {
    font-size: 44px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 27px;
    max-width: 545px;

    @include respond-to(small-and-medium-screens) { max-width: 100%; }
  }

  &__text-1 {
    padding: 19px 0 13px 31%;
  }

  &__text-2 {
    padding: 29px 0 32px 31%;
  }

  &__text-1, &__text-2 {
    @include respond-to(small-and-medium-screens) { 
      padding: 0;
      text-align: center; 
    }
  }

  &__cell {
    padding: 62px;
    line-height: 0;

    // mod
    &--padding_0 {
      @include respond-to(large-screens) { padding-left: 0; }
    }
  }

  &__image {
    // it is supposed that in the real situation all images have enough size to be shown this way
    width: 100%;
    @include respond-to(medium-screens) { border-radius: 8px; }

    // mod
    &--size_sm {
      @include respond-to(large-screens) { width: 52%; }
      @include respond-to(from-medium-to-laptop-l-screens) { width: 100% } // especially this little image
    }
  }

  .btn + .link {
    margin-left: 20px;
    font-size: 15px;
  }
}
