.card {
  // lets include mod (that is commonly used) by default
  @extend .card--shadow_animated;
  text-align: center;
  max-width: 493px;
  background-color: white;

  &__header {
    // mod
    &--padding-top {
      padding-top: 30px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
  }

  &__body {
    padding: 20px 30px 0 30px;
    flex: 1;
  }

  &__footer {
    padding: 0 30px 30px 30px;

    // mod
    &--padding-top {
      padding-top: 20px;
    }
  }

  &__image {
    width: 100%;
  }

  &__icon {
    width: 80px;
    display: block; // fixes the strange invisible space at the bottom
    margin: 0 auto;

    // mod
    &--svg-color_blue {
      path {
        fill: $blue-light;
      }
    }
  }

  &__heading {
    margin: 0;
  }

  &__text {
    color: $font-color;
    font-weight: normal;
    margin: 10px 0 20px 0;
  }

  &__link {
    display: inline-block;
  }

  // mods
  &--shadow_animated {
    position: relative;

    &::before, &::after {
      content: '';
      pointer-events: none;
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include transition(opacity 150ms cubic-bezier(0.4, 0, 0.6, 1));
    }

    &::before {
      @include shadow(0 2px 10px  $grey-shadow);
    }

    &::after {
      @include shadow(0 4px 20px  $grey-shadow);
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &--text-lg_left { @include respond-to(large-screens) { text-align: left; } }

  &--no-shadow {
    &:before, &:after {
      content: none;
    }
  }
}
