// Container limits
//    also is used:
//      - with carousel to avoid the layout distortion
//      - with sticky header to limit max width == main container width
@mixin main-container-limits {
  max-width: 1680px;
}

// Cross browser support
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition:    $args;
  -ms-transition:     $args;
  -o-transition:      $args;
  transition:         $args;
}

@mixin shadow($str) {
  -moz-box-shadow:    $str;
  -webkit-box-shadow: $str;
  box-shadow:         $str;
}

// Responsive
$bp-small: 320px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-medium: 1024px;
$bp-laptop-l: 1440px;

@mixin respond-to($media) {
  // ### Global split

  // 0 - 320
  @if $media == small-screens {
    @media only screen and (max-width: $bp-small) { @content; }
  }
  // 321 - 1024
  @else if $media == medium-screens {
    @media only screen and (min-width: $bp-small + 1) and (max-width: $bp-medium) { @content; }
  }
  // 1025 - any
  @else if $media == large-screens {
    @media only screen and (min-width: $bp-medium + 1) { @content; }
  }

  // ### Combinations

  // 0 - 1024
  @if $media == small-and-medium-screens {
    @media only screen and (max-width: $bp-medium) { @content; }
  }

  // ### Specific ranges

  // 0 - 425
  @if $media == mobile-l-screens {
    @media only screen and (max-width: $bp-mobile-l) { @content; }
  }
  // 0 - 768
  @if $media == tablet-screens {
    @media only screen and (max-width: $bp-tablet) { @content; }
  }
  // 1025 - 1440
  @if $media == from-medium-to-laptop-l-screens {
    @media only screen and (min-width: $bp-medium + 1) and (max-width: $bp-laptop-l) { @content; }
  }
}
