// ### Colors

// black
$black-light: #3e4348;
// blue
$blue-light: #49a4d5;
$blue-dark: #047bb4;
// grey
$grey-light: #d5d8db;
$grey-medium: rgba(172,178,184,0.5);
$grey-medium-dark: rgba(128,128,128,0.25);
$grey-dark: #1b2126;
// white
$white-blue: #E5EBED;

// ### Content-related
$grey-page-bg: #161b1f;
$grey-shadow: rgba(0,0,0,0.16);
$grey-footer-color: #727579;

// ### Fonts
$font-color: $black-light;
$font-size: 16px;
$font-line-height: 28px;
$font-family: "Square Market", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;

// ### Default style rules
$default-border: 1px solid $grey-light;
$light-border: 1px solid $grey-medium;
