*, ::after, ::before {
  box-sizing: border-box
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  color: $font-color;
  font-size: $font-size;
  line-height: $font-line-height;
  font-family: $font-family;
  background-color: $grey-page-bg;
  letter-spacing: -0.3px; // kludge to make fonts more or less similar
}

body {
  margin: 0;
}

hr {
  border: none;
  border-bottom: $default-border;
  margin: 15px 0;
}

h1, h2, h3, h4, h5 {
  color: black;
}

h2 {
  font-size: 32px;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}
