.carousel {
  @include main-container-limits;
  overflow: hidden;
  position: relative;

  &__switcher {
    position: absolute;
    width: 400px;
    bottom: -7px;
    right: calc(50% - 200px);
    text-align: center;

    @include respond-to(small-and-medium-screens) { display: none; }
  }

  &__switch {
    width: 26px;
    height: 26px;
    padding: 8px 8px;
    display: inline-block;
    cursor: pointer;
    opacity: .25;
    @include transition(opacity 150ms cubic-bezier(0.4, 0, 0.6, 1));

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: 1;
    }

    &--active {
      opacity: 1;
      cursor: initial;

      &:hover {
        opacity: 1;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $grey-dark;
    }
  }

  &__item {
    min-width: 493px;
    @include respond-to(from-medium-to-laptop-l-screens) { min-width: 420px; }
    @include respond-to(mobile-l-screens) { min-width: 100% };

    &--active {
      opacity: 1;
    }

    @include respond-to(large-screens) {
      &--muted {
        opacity: 0.5;

        // lets use context to change a few rules for children el at once just using "--muted" mod for the parent
        &:hover {
          // - to disable shadow animation
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: 0;
          }

          // - to change cursor
          .link {
            cursor: grab;
          }

          // - to change cursor again on a mouse down
          &:active {
            .link {
              cursor: grabbing;
            }
          }
        }
      }
    }
  }
}
