.popup {
  border: 1px solid $grey-light;
  border-radius: 5px;
  padding: 15px 0;
  list-style: none;
  @include shadow(0 2px 8px $grey-shadow);

  // elements
  &__item {
    padding: 6px 20px;
    font-size: 1rem;
    white-space: nowrap;

    // mod
    &--weight_bold {
      font-weight: bold;
    }

    * {
      vertical-align: middle;
    }
  }

  &__info {
    text-align: center;
  }

  &__btn {
    width: 100%;
  }

  &__icon {
    display: inline-block;
    margin-right: 10px;
  }
}
