.cards {
  display: grid;
  grid: auto / auto-flow;
  justify-content: center;
  grid-gap: 30px;
  padding: 60px 0;
  @include respond-to(small-and-medium-screens) { grid: initial };

  &--vertical-padding_sm {
    padding-top: 24px;
  }
}
