// Global container
// + modifications
// just to limit content width

.container {
  margin: 0 auto;
  background-color: white;
  @include main-container-limits;

  // mods
  &--md {
    background-color: transparent;
    max-width: 1016px;
  }

  &--sm {
    background-color: transparent;
    max-width: 640px;
  }
}
