.footer {
  background-color: $grey-dark;
  color: $grey-footer-color;
  padding: 60px;
  font-size: 14px;
  line-height: 24px;

  @include respond-to(mobile-l-screens) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
