@mixin nav_animation($transition-style) {
  $transitions:
          opacity $transition-style,
          visibility $transition-style,
          -webkit-transform $transition-style,
          -transform $transition-style;

  @include transition($transitions);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: $default-border;
  @include respond-to(tablet-screens) {
    flex-flow: column;
    align-items: center;
  }

  &__logo {
    vertical-align: middle;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    @include respond-to(mobile-l-screens) {
      flex-flow: column;
      align-items: center;
    }

    // mods
    &--padding-0 {
      padding: 0;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    padding: 19px 11px;
    line-height: 21px;
    position: relative;

    &:hover {
      .nav__list-dropdown {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    &--padding-left_0 {
      padding-left: 0;
    }

    &--padding-right_0 {
      padding-right: 0;
      @include respond-to(tablet-screens) { padding-right: 11px; }
    }
  }

  &__list-icon {
    vertical-align: middle;
  }

  &__list-dropdown {
    position: absolute;
    top: calc(100% - 10px);
    left: -11px;
    z-index: 1;
    overflow: hidden;
    background: white;
    // animated options
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);

    // mods
    &--fade_fast {
      $transition-style: 150ms cubic-bezier(0.4, 0, 0.6, 1);
      @include nav_animation($transition-style);
    }

    &--fade_slow {
      $transition-style: 150ms cubic-bezier(0.4, 0, 0.6, 1) 0.5s; // + delay
      @include nav_animation($transition-style);
    }

    &--position_right {
      left: initial;
      right: -21px;
    }
  }

  &--padding-0 {
    padding: 0;
  }

  &--border-0 {
    border: 0;
  }
}
