// block
.link {
  text-decoration: none;
  color: $blue-light;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0; // kludge for fonts

  &:after {
    content: '›';
    margin-left: 3px;
  }

  // elements
  &__text {
    line-height: 25px;
  }

  // only for adjacent (icon + text)
  &__icon + &__text {
    margin-left: 4px;
  }

  // mods
  &--color_white {
    color: white;
  }

  &--color_default {
    color: $font-color;
  }

  &--weight_normal {
    font-weight: normal;
  }

  &--no-decor {
    &:after {
      content: none;
    }
  }

  &--line-height_big {
   line-height: 40px;
  }
}

