.footer-links {
  display: grid;
  grid: auto-flow / repeat(4, auto);
  grid-gap: 20px;
  @include respond-to(tablet-screens) {  grid: auto-flow/repeat(3, auto); }
  @include respond-to(mobile-l-screens) {
    grid: auto-flow / auto;
    justify-items: center;
    text-align: center;
  }

  &--legal {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;

    .footer-links__column:nth-child(1) {
      @include respond-to(mobile-l-screens) {
        grid-area: copyright;
      }
    }

    .footer-links__column:nth-child(3) {
      @include respond-to(mobile-l-screens) {
        grid-area: links;
      }
    }

    @include respond-to(mobile-l-screens) {
      grid-template-columns: auto;
      justify-content: center;
      grid-template-areas:
              "links"
              "copyright"
    }
  }
}
