.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 10px;

    &:first-child {
      font-weight: bold;
      font-size: 1rem;
      line-height: 28px;
    }

    // mod
    .list &--font_inherit {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__link {
    color: $font-color;

    // no decor for list links
    @extend .link--no-decor;

    // mod
    &--color_white {
      color: white;
    }
  }

  // mods
  &--text_right {
    @media only screen and (min-width: $bp-mobile-l + 1) { text-align: right; }
  }
}
