doctype html
html lang="en"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    title Layout
    link rel="stylesheet" href="main.css"
    script type="application/javascript" src="main.js"

  body
    .page.container
      header.header
        .header-alert
          a.link.link--color_white.header-alert__link href='https://squareup.com/us/en/l/immediate-support-response'
            img.link__icon src='./images/icons/icon-exclamation-point.svg' alt='Pay attention icon'
            span.link__text COVID-19 resources & funding

        nav.nav
          / (I suppose that the font icon (like 'fontawesome') could work better)
          ul.nav__list
            li.nav__list-item.nav__list-item--padding-left_0
              a.link.link--no-decor href='/'
                img.nav__logo src='images/logo.svg' alt='Logo'

          ul.nav__list
            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' Payments
              ul.popup.nav__list-dropdown
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Payments Overview
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' In Person
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' On Your Website
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' By Invoice
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' On Your Computer
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Browse Hardware

            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' Point of Sale
              ul.popup.nav__list-dropdown
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Square Point of Sale
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Square Appointments
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Square for Retail
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Square for Restaurants
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Browse Hardware

            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' eCommerce
              ul.popup.nav__list-dropdown
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Online Store
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Integrations
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Photo Studio
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Developer APIs

            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' More Tools
              ul.popup.nav__list-dropdown
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Capital
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Payroll
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Business Debit Card
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Marketing
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Loyalty
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Team Management
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Gift Cards

            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' Resources
              ul.popup.nav__list-dropdown
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' COVID-19 Resources
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Pricing
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Support Center
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' What’s New
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Contact Sales
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' App Marketplace
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Switch to Square
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Community
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Blog
                li.popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Developers

          ul.nav__list
            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' Sign In
            li.nav__list-item
              a.link.link--color_default.link--no-decor href='#' Shop
            li.nav__list-item.nav__list-item--padding-right_0
              a.link.link--color_default.link--no-decor href='#'
                img.nav__list-icon src='images/icons/icon-cart.svg' alt='Cart icon'
              .popup.popup-cart.nav__list-dropdown.nav__list-dropdown--position_right
                .popup__item.popup__item--weight_bold Your cart
                p.popup__info No items in your cart
                .popup__item
                  button.btn.popup__btn Shop hardware
                hr
                .popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' View cart
                .popup__item
                  a.link.link--color_default.link--weight_normal.link--no-decor href='#' Order history

      main.main
        section.section.section--bg_blue.business-tools
          .business-tools__col
            .business-tools__cell
              .business-tools__text-1
                h1.business-tools__heading Tools to run your business—even when it’s not business as usual.
                button.btn Get started
                a.link href='#' Contact sales
            .business-tools__cell.business-tools__cell--padding_0
              img.business-tools__image alt='Business tools image' src='./images/biz-tools-1.png'
            .business-tools__cell
              .business-tools__text-2
                h2
                  'We have solutions ready to
                  br
                  |help your business today.
                a.link.link--no-decor.btn.btn--transparent View all solutions
          .business-tools__col
            .business-tools__cell
              img.business-tools__image alt='Business tools image' src='./images/biz-tools-2.png'
            .business-tools__cell
              img.business-tools__image.business-tools__image--size_sm alt='Business tools image' src='./images/biz-tools-3.png'

        section.get-started#sticky-header
          button.btn.btn--narrow Get started

        section.section.advantages#start-scroll-trigger
          .card.card--no-shadow.advantages__customers-image
            img.card__image alt='Customers image' src='./images/adv-customers.png'
          .card.card--text-lg_left.card--no-shadow.advantages__customers-text
            h3.advantages__heading Reach more customers online.
            p.advantages__paragraph From retail to restaurants, we have tools to help anyone start selling online. Create a free online store that syncs with your inventory and social media to help you sell right away.
            a.link.link--line-height_big.card__link href='#' See ways to sell online
          .card.card--text-lg_left.card--no-shadow.advantages__delivery-text
            h3.advantages__heading Offer delivery and pickup.
            p.advantages__paragraph Keep sales coming in with delivery, pickup, and shipping options. Accept orders online, over the phone, or through email, and let customers find you through our delivery hub.
            a.link.link--line-height_big.card__link href='#' Find out how to get started
          .card.card--no-shadow.advantages__delivery-image
            img.card__image alt='Delivery image' src='./images/adv-delivery.png'
          .card.card--no-shadow.advantages__payment-image
            img.card__image alt='Payment image' src='./images/adv-payment.png'
          .card.card--text-lg_left.card--no-shadow.advantages__payment-text
            h3.advantages__heading
              'Take payments a
              br
              |little more safely.
            p.advantages__paragraph Accept payments securely, any way you want—and if you’re selling in person, encourage contactless payments at your point of sale to keep things sanitary.
            a.link.link--line-height_big.card__link href='#' Learn about Square Point of Sale
            a.link.link--line-height_big.card__link href='#' See all your payment options with Square

        section.section.image-break
          img.image-break__image alt='Decorative image that splits content' src='./images/photobreak-poke.png'

        section.section.section--vertical-padding.section--bg_blue
          .section__head
            h2.section__heading Resources to support local businesses.
            p.section__caption.section__caption--mb-0 We’re working to help our sellers reach more customers however they can.

          .section__body
            .cards
              .card
                a.link.link--no-decor.card__content href='#'
                  .card__header
                    img.card__image alt='Delivery on a map' src='./images/resources-map.png'
                  .card__body
                    h5.card__heading Online Ordering Directory
                    p.card__text Offer delivery and pickup to keep sales coming in. Let customers find you through our online delivery hub.
                  .card__footer
                    span.link.card__link Visit the delivery hub

              .card
                a.link.link--no-decor.card__content href='#'
                  .card__header
                    img.card__image alt='Gift cards' src='./images/resources-gift.png'
                  .card__body
                    h5.card__heading eGift Cards directory
                    p.card__text Get discovered by customers looking to support local businesses when you sign up for free custom eGift Cards.
                  .card__footer
                    span.link.card__link Visit the directory

          .section__footer
            a.link href='#' Visit our full resource hub

        section.section.image-break
          img.image-break__image alt='Decorative image that splits content' src='./images/photobreak-wine.png'

        section.section.section--bg_blue.section--vertical-padding.section--overflow_hidden
          .section__head
            h2.section__heading
              'More tools to meet every
              br
              |business challenge.

          .section__body
            / Every .card in this layout supports the feature that the original layout doesn't...
            /   and this is the reason why you can see "bigger padding-bottom" at the bottom link on the original layout
            /   (for visible items of the carousel)

            / It happens because an another hidden element contains more text than visible items
            / so visible items also got a bigger height
            / However a bottom link is not aligned to the bottom line of a parent container in the original layout
            / So because of this all visible cards has more space at the bottom then at the top
            / I supposed this padding has to be the same for all for that standard element
            / and you can see it is for other cards in the original layout - the same padding for top/bottom/left/right in other sections
            / also you can click carousel on the Original layout to see the hidden item that has more text
            /   and for this element the padding looks correct
            /   but links are floating from item to item...

            / In this layout a footer link sticks to the bottom line of the parent container and it works just fine everywhere
            .carousel
              .cards
                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header.card__header--padding-top
                      svg.card__icon.card__icon--svg-color_blue width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"
                        path d="M19 51v-1a1 1 0 0 0-1 1h1zm0 10h-1a1 1 0 0 0 1 1v-1zm10 0v1a1 1 0 0 0 1-1h-1zm0-12h1a1 1 0 0 0-1-1v1zm-5 0v-1a1 1 0 0 0-1 1h1zm11-4v-1a1 1 0 0 0-1 1h1zm0 16h-1a1 1 0 0 0 1 1v-1zm10 0v1a1 1 0 0 0 1-1h-1zm0-22h1a1 1 0 0 0-1-1v1zm-5 0v-1a1 1 0 0 0-1 1h1zm11 11v-1a1 1 0 0 0-1 1h1zm0 11h-1a1 1 0 0 0 1 1v-1zm5-15v-1a1 1 0 0 0-1 1h1zm5 15v1a1 1 0 0 0 1-1h-1zm0-15h1a1 1 0 0 0-1-1v1zM41 22a1 1 0 1 0-2 0h2zm-2 6a1 1 0 1 0 2 0h-2zm-7-6a1 1 0 1 0 0 2v-2zm4 2a1 1 0 1 0 0-2v2zm6 8v-1a1 1 0 0 0-.707.293L42 32zm10 0v1a1 1 0 0 0 1-1h-1zm0-14h1a1 1 0 0 0-1-1v1zm-24 0v-1a1 1 0 0 0-1 1h1zm0 14h-1a1 1 0 0 0 1 1v-1zm10 0l.707-.707A1 1 0 0 0 38 31v1zm2 2l-.707.707a1 1 0 0 0 1.414 0L40 34zm4-12a1 1 0 1 0 0 2v-2zm4 2a1 1 0 1 0 0-2v2zm-16 2a1 1 0 1 0 0 2v-2zm4 2a1 1 0 1 0 0-2v2zm8-2a1 1 0 1 0 0 2v-2zm4 2a1 1 0 1 0 0-2v2zm26 43c0 1.648-1.352 3-3 3v2c2.752 0 5-2.248 5-5h-2zm-3 3H9v2h62v-2zM9 74c-1.648 0-3-1.352-3-3H4c0 2.752 2.248 5 5 5v-2zm-3-3V9H4v62h2zM6 9c0-1.648 1.352-3 3-3V4C6.248 4 4 6.248 4 9h2zm3-3h62V4H9v2zm62 0c1.648 0 3 1.352 3 3h2c0-2.752-2.248-5-5-5v2zm3 3v62h2V9h-2zM19 52h5v-2h-5v2zm4-1v10h2V51h-2zm1 9h-5v2h5v-2zm-4 1V51h-2v10h2zm4 1h5v-2h-5v2zm6-1V49h-2v12h2zm-1-13h-5v2h5v-2zm-6 1v2h2v-2h-2zm12-3h5v-2h-5v2zm4-1v16h2V45h-2zm1 15h-5v2h5v-2zm-4 1V45h-2v16h2zm4 1h5v-2h-5v2zm6-1V39h-2v22h2zm-1-23h-5v2h5v-2zm-6 1v6h2v-6h-2zm12 12h5v-2h-5v2zm4-1v11h2V50h-2zm1 10h-5v2h5v-2zm-4 1V50h-2v11h2zm3-15v4h2v-4h-2zm1 16h5v-2h-5v2zm6-1V46h-2v15h2zm-1-16h-5v2h5v-2zM39 22v6h2v-6h-2zm-7 2h4v-2h-4v2zm10 9h10v-2H42v2zm11-1V18h-2v14h2zm-1-15H28v2h24v-2zm-25 1v14h2V18h-2zm1 15h10v-2H28v2zm9.293-.293l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l2-2-1.414-1.414-2 2 1.414 1.414zM44 24h4v-2h-4v2zm-12 4h4v-2h-4v2zm12 0h4v-2h-4v2z" fill="#3e4348"
                    .card__body
                      h5.card__heading Dashboard and Analytics
                      p.card__text Run real-time reports from any device and see how your business is doing from anywhere.
                    .card__footer
                      span.link.card__link Learn more
                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header.card__header--padding-top
                      svg.card__icon.card__icon--svg-color_blue width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"
                        path d="M1 39a1 1 0 1 0 0 2v-2zm78 2a1 1 0 1 0 0-2v2zM41 13a1 1 0 1 0-2 0h2zm-2 54a1 1 0 1 0 2 0h-2zm13.9-32.5l-.707-.707-.007.007-.007.007.721.693zM40 40.1l-.286.958a1 1 0 0 0 .563.003L40 40.1zm13.6-13.8l-.707.707.008.009.01.008.689-.724zm-27.2 0l.69.724.009-.008.008-.009-.707-.707zM40 40l.964-.265a1 1 0 0 0-1.928 0L40 40zm-15 7a1 1 0 0 0 0 2v-2zm30 2a1 1 0 1 0 0-2v2zM1 41h78v-2H1v2zm38-28v54h2V13h-2zm13.18 20.807c-.494.513-1.473 1.124-2.789 1.766-1.284.626-2.784 1.232-4.225 1.764a88.687 88.687 0 0 1-5.416 1.794l-.02.006-.006.002h-.001l.277.96.277.962h.001l.002-.001a.255.255 0 0 0 .006-.002l.024-.007a22.57 22.57 0 0 0 .43-.128 90.695 90.695 0 0 0 5.119-1.71c1.472-.543 3.04-1.175 4.409-1.842 1.337-.652 2.596-1.391 3.353-2.178l-1.442-1.386zM40 40.1l.963.269v-.002l.002-.005.006-.02a18.467 18.467 0 0 1 .119-.414 91.436 91.436 0 0 1 1.615-5.005c.513-1.441 1.098-2.942 1.702-4.227.619-1.318 1.208-2.297 1.7-2.789l-1.414-1.414c-.758.758-1.469 2.016-2.096 3.352-.643 1.367-1.252 2.935-1.776 4.407a93.4 93.4 0 0 0-1.782 5.57l-.002.007v.002L40 40.1zm6.107-12.193c2.262-2.262 5.313-2.372 6.786-.9l1.414-1.414c-2.527-2.528-6.876-1.838-9.614.9l1.414 1.414zm6.803-.883c1.567 1.492 1.521 4.53-.717 6.769l1.414 1.414c2.762-2.762 3.316-7.123.683-9.631l-1.38 1.448zm-26.517 8.183c.754.754 2.007 1.477 3.342 2.123 1.366.66 2.932 1.295 4.403 1.844a97.555 97.555 0 0 0 5.454 1.847l.09.028.024.007.006.002h.002L40 40.1l.286-.958h-.002a2.94 2.94 0 0 0-.111-.033 93.532 93.532 0 0 1-1.528-.482 95.563 95.563 0 0 1-3.808-1.326c-1.441-.539-2.944-1.148-4.23-1.771-1.32-.639-2.303-1.24-2.8-1.737l-1.414 1.414zM40 40.1l.963-.269v-.002l-.002-.006a6.837 6.837 0 0 0-.032-.114 90.039 90.039 0 0 0-.465-1.566 93.43 93.43 0 0 0-1.284-3.891c-.524-1.471-1.134-3.04-1.776-4.407-.628-1.335-1.339-2.594-2.097-3.352l-1.414 1.414c.492.492 1.081 1.47 1.7 2.789.605 1.285 1.19 2.786 1.703 4.227a91.436 91.436 0 0 1 1.733 5.418l.006.021a.14.14 0 0 0 .002.007l.963-.27zm-4.693-13.607c-2.738-2.738-7.086-3.428-9.614-.9l1.414 1.414c1.473-1.473 4.524-1.362 6.786.9l1.414-1.414zm-9.596-.917c-2.634 2.508-2.08 6.87.682 9.631l1.414-1.414c-2.238-2.238-2.284-5.277-.717-6.769l-1.38-1.448zM40 40a73.219 73.219 0 0 1-.964-.267l.001-.002v-.002l-.001.006a4.07 4.07 0 0 1-.087.246c-.072.184-.19.458-.372.793a9.832 9.832 0 0 1-1.958 2.494C34.67 45.08 31.172 47 25 47v2c6.628 0 10.629-2.08 12.981-4.268a11.823 11.823 0 0 0 2.355-3.006c.224-.415.378-.766.476-1.02a5.996 5.996 0 0 0 .147-.424l.003-.01.001-.004v-.001c.001-.001.001-.002-.963-.267zm0 0c-.964.265-.964.266-.964.267v.001l.002.004.003.01a1.51 1.51 0 0 0 .037.12c.024.075.06.178.11.304.098.254.252.605.476 1.02.45.83 1.189 1.921 2.355 3.006C44.37 46.92 48.372 49 55 49v-2c-6.172 0-9.671-1.92-11.619-3.732a9.832 9.832 0 0 1-1.958-2.494c-.181-.335-.3-.61-.372-.793a4.07 4.07 0 0 1-.087-.246l-.001-.006v.005L40 40zm38 22c0 2.248-1.752 4-4 4v2c3.352 0 6-2.648 6-6h-2zm-4 4H6v2h68v-2zM6 66c-2.248 0-4-1.752-4-4H0c0 3.352 2.648 6 6 6v-2zm-4-4V18H0v44h2zm0-44c0-2.248 1.752-4 4-4v-2c-3.352 0-6 2.648-6 6h2zm4-4h68v-2H6v2zm68 0c2.248 0 4 1.752 4 4h2c0-3.352-2.648-6-6-6v2zm4 4v44h2V18h-2z" fill="#3e4348"
                    .card__body
                      h5.card__heading  Gift Cards
                      p.card__text Offer eGift Cards to increase cash flow while your business is closed or affected by social distancing.
                    .card__footer
                      span.link.card__link Learn more
                .card.carousel__item.carousel__item--active
                  a.link.link--no-decor.card__content
                    .card__header.card__header--padding-top
                      svg.card__icon.card__icon--svg-color_blue width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"
                        path fill-rule="evenodd" clip-rule="evenodd" d="M6 9c0-1.648 1.352-3 3-3h62c1.648 0 3 1.352 3 3v7H6V9zm70 0v62c0 2.752-2.248 5-5 5H9c-2.752 0-5-2.248-5-5V9c0-2.752 2.248-5 5-5h62c2.752 0 5 2.248 5 5zM6 18h68v53c0 1.648-1.352 3-3 3H9c-1.648 0-3-1.352-3-3V18zm35 8.023c0-.575-.448-1.023-1-1.023a1 1 0 0 0-1 1V30.058c-1.69.19-3.468.856-4.918 1.958C32.323 33.353 31 35.378 31 38c0 1.225.19 2.28.613 3.183.428.915 1.067 1.616 1.872 2.167 1.543 1.057 3.752 1.587 6.308 2.128 2.515.532 4.604 1.387 6.041 2.51C47.25 49.093 48 50.424 48 52c0 1.807-.931 3.278-2.427 4.333C44.063 57.4 42.02 58 40 58c-3.962 0-6.785-2.434-8.162-4.546a1 1 0 0 0-1.676 1.092c1.509 2.313 4.534 5.039 8.838 5.411V64a1 1 0 0 0 2 0v-4.04c2.056-.168 4.102-.846 5.727-1.993C48.632 56.622 50 54.593 50 52c0-2.324-1.149-4.193-2.934-5.588-1.763-1.377-4.174-2.322-6.859-2.89-2.644-.56-4.435-1.03-5.592-1.822-.545-.374-.931-.81-1.19-1.365C33.16 39.77 33 39.025 33 38c0-1.878.927-3.353 2.293-4.391C36.678 32.556 38.464 32 40 32c3.158 0 5.572 1.43 7.2 3.6a1 1 0 0 0 1.6-1.2c-1.797-2.397-4.437-4.08-7.8-4.359V26.025M11 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm4 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm5-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" fill="#3e4348"
                    .card__body
                      h5.card__heading Virtual Terminal
                      p.card__text Take payments over the phone and easily key them in on your computer instead of a mobile device.
                    .card__footer
                      span.link.card__link Learn more
                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header.card__header--padding-top
                      svg.card__icon.card__icon--svg-color_blue width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"
                        path d="M55 32a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm-6 4a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm-42-8a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm-6 4a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm12-8a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm-6 4a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm12 28a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zm-6-8a1 1 0 1 0 0 2v-2zm6 2a1 1 0 1 0 0-2v2zM19 24a1 1 0 1 0 0 2v-2zm42 2a1 1 0 1 0 0-2v2zM19 56a1 1 0 1 0 0 2v-2zm42 2a1 1 0 1 0 0-2v2zM51 8a1 1 0 1 0 0 2V8zm10 2a1 1 0 1 0 0-2v2zm-10 4a1 1 0 1 0 0 2v-2zm10 2a1 1 0 1 0 0-2v2zM10 4c0-1.126.93-2 2-2V0C9.87 0 8 1.726 8 4h2zm2-2h56V0H12v2zm56 0c1.148 0 2 .852 2 2h2c0-2.252-1.748-4-4-4v2zm2 2v72h2V4h-2zm0 72c0 1.148-.852 2-2 2v2c2.252 0 4-1.748 4-4h-2zm-2 2H12v2h56v-2zm-56 0c-1.07 0-2-.874-2-2H8c0 2.274 1.87 4 4 4v-2zm-2-2V4H8v72h2zm45-42h6v-2h-6v2zm0 6h6v-2h-6v2zm-36-6h6v-2h-6v2zm0 6h6v-2h-6v2zm18-6h6v-2h-6v2zm0 6h6v-2h-6v2zm11-15v32h2V25h-2zm-18 0v32h2V25h-2zm25 45h6v-2h-6v2zm0-6h6v-2h-6v2zM19 26h42v-2H19v2zm0 32h42v-2H19v2zm32-48h10V8H51v2zm0 6h10v-2H51v2zm-27-4a2 2 0 0 1-2 2v2a4 4 0 0 0 4-4h-2zm-2 2a2 2 0 0 1-2-2h-2a4 4 0 0 0 4 4v-2zm-2-2a2 2 0 0 1 2-2V8a4 4 0 0 0-4 4h2zm2-2a2 2 0 0 1 2 2h2a4 4 0 0 0-4-4v2z" fill="#3e4348"
                    .card__body
                      h5.card__heading Invoices
                      p.card__text Create custom invoices in seconds, get paid faster, and give customers more convenient ways to pay.
                    .card__footer
                      span.link.card__link Learn more
                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header.card__header--padding-top
                      svg.card__icon.card__icon--svg-color_blue width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg"
                        path d="M6.6 62C4.04 62 2 59.936 2 57.5H0C0 61.064 2.96 64 6.6 64v-2zM2 57.5v-35H0v35h2zm0-35C2 20.064 4.04 18 6.6 18v-2C2.96 16 0 18.936 0 22.5h2zM6.6 18h66.8v-2H6.6v2zm66.8 0c2.56 0 4.6 2.064 4.6 4.5h2c0-3.564-2.96-6.5-6.6-6.5v2zm4.6 4.5v35h2v-35h-2zm0 35c0 2.436-2.04 4.5-4.6 4.5v2c3.64 0 6.6-2.936 6.6-6.5h-2zM73.4 62H6.6v2h66.8v-2zM42 4a2 2 0 0 1-2 2v2a4 4 0 0 0 4-4h-2zm-2 2a2 2 0 0 1-2-2h-2a4 4 0 0 0 4 4V6zm-2-2a2 2 0 0 1 2-2V0a4 4 0 0 0-4 4h2zm2-2a2 2 0 0 1 2 2h2a4 4 0 0 0-4-4v2zM14.492 17.87l23-13-.984-1.74-23 13 .984 1.74zm52-1.74l-23-13-.984 1.74 23 13 .984-1.74z" fill="#3e4348"
                    .card__body
                      h5.card__heading Marketing
                      p.card__text Send a free email to let customers know about changing business hours and how to best support your business.
                    .card__footer
                      span.link.card__link Learn more

              .carousel__switcher
                .carousel__switch.carousel__switch--active
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch

        section.section.image-break
          img.image-break__image alt='Decorative image that splits content' src='./images/photobreak-farm-market.png'

        section.section.section--bg_blue.section--vertical-padding.section--padding-bottom_md.section--overflow_hidden
          .section__head
            h2.section__heading Hardware for every kind of sale.
            p.section__caption
              'We design and build our hardware in-house, so payments work seamlessly at your
              br
              |POS system or on the go.
            a.link.section__link href='#' Shop all hardware

          .section__body
            .carousel
              .cards.cards--vertical-padding_sm
                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header
                      img.card__image alt='Readers' src='./images/carousel-card.png'
                    .card__footer.card__footer--padding-top
                      span.link.card__link Square register

                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header
                      img.card__image alt='Readers' src='./images/carousel-readers.png'
                    .card__footer.card__footer--padding-top
                      span.link.card__link Reader for magstripe

                .card.carousel__item.carousel__item--active
                  a.link.link--no-decor.card__content
                    .card__header
                      img.card__image alt='Terminal' src='./images/carousel-terminal.png'
                    .card__footer.card__footer--padding-top
                      span.link.card__link Terminal

                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header
                      img.card__image alt='Readers' src='./images/carousel-blue-card.png'
                    .card__footer.card__footer--padding-top
                      span.link.card__link Contactless chip

                .card.carousel__item.carousel__item--muted
                  a.link.link--no-decor.card__content
                    .card__header
                      img.card__image alt='Readers' src='./images/carousel-apple-pay.png'
                    .card__footer.card__footer--padding-top
                      span.link.card__link Stand

              .carousel__switcher
                .carousel__switch.carousel__switch--active
                .carousel__switch
                .carousel__switch
                .carousel__switch
                .carousel__switch

        section.section.section--vertical-padding
          .section__head
            h2.section__heading Start selling with Square.
            p.section__caption Create your free account in minutes and join the millions of businesses using Square.
          .section__body.section__body--padding
            buttom.btn Get started
          .section__footer
            a.link.section__link href='#' Contact Sales

        section.section.section--bg_blue.section--vertical-padding
          .container.container--sm
            .section__grid
              .section__head.section__head--line-height_0
                img.section__image alt="Support person's image" src='./images/support.png'
              .section__body.section__body--text_left
                p.section__caption.section__caption--mb-0 Sell confidently knowing you’re backed by our award-winning support team, which is ready to answer your questions. You can also visit our Support Center for tips, articles, and videos.
                a.link.section__link href='#' Visit our Support Center

        hr.hr.hr--light

        section.section.section--bg_blue.section--padding
          .container.container--md
            .section__head
              p.section__mini-text
                |*Square Capital, LLC is a wholly owned subsidiary of Square, Inc., d/b/a Square Capital of California, LLC in FL, GA, MT, and NY. All loans are issued by Celtic Bank, a Utah-Chartered Industrial Bank. Member FDIC, located in Salt Lake City, UT. All loans are subject to credit approval. FW1118

      footer.footer
        .container.container--md
          .footer-links#stop-scroll-trigger
            .footer-links__column
              ul.list
                li.list__item.list__item Payments
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square Payments
                li.list__item
                  a.link.list__link.list__link--color_white href='#' In Person
                li.list__item
                  a.link.list__link.list__link--color_white href='#' By Invoice
                li.list__item
                  a.link.list__link.list__link--color_white href='#' On Your Computer
                li.list__item
                  a.link.list__link.list__link--color_white href='#' On Your Website
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Payment Platform
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Payments Security
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Transfers
            .footer-links__column
              ul.list
                li.list__item.list__item Point of Sale
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square Point of Sale
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square for Restaurants
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square for Retail
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square Appointments
            .footer-links__column
              ul.list
                li.list__item.list__item Hardware
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Reader for Magstripe
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Reader for Contactless and Chip
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Terminal
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Stand
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Register
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Shop Hardware
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Rent Hardware
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Buy in Store
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Compare Hardware
            .footer-links__column
              ul.list
                li.list__item.list__item More Tools
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Online Store
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Business Debit Card
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Capital
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Payroll
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Team Management
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Marketing
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Loyalty
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Dashboard
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Gift Cards
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Customer Directory
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Inventory Management
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Photo Studio
            .footer-links__column
              ul.list
                li.list__item.list__item Developers
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Developer Platform
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Reader SDK
                li.list__item
                  a.link.list__link.list__link--color_white href='#' In-App Payments SDK
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Online Payments APIs
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Documentation
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Developer Dashboard
            .footer-links__column
              ul.list
                li.list__item.list__item Resources
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Pricing
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Contact Sales
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Support Center
                li.list__item
                  a.link.list__link.list__link--color_white href='#' App Marketplace
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Small Business Development
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Blog
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Guides
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Community
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Events
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Service Status
            .footer-links__column
              ul.list
                li.list__item.list__item Business Types
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Enterprise
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Retail
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Coffee Shops
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Counter Service
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Table Service
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Bars & Lounges
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Beauty Professionals
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Health & Fitness
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Home & Repair Services
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Professional Services
            .footer-links__column
              ul.list
                li.list__item.list__item Square
                li.list__item
                  a.link.list__link.list__link--color_white href='#' About
                li.list__item
                  a.link.list__link.list__link--color_white href='#' News
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Investor Relations
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Affiliate Program
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Partner with Square
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Careers
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Cash App

          .footer-social
            .footer-social__col
              nav.nav.nav--padding-0.nav--border-0
                ul.nav__list.nav__list--padding-0
                  li.nav__list-item.footer-social__list-item
                    a.link.link--color_default.link--no-decor.icon-flag.icon-flag--country-us href='#'
                    ul.popup.nav__list-dropdown.footer-social__list-dropdown
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span.popup__icon.icon-flag.icon-flag--country-au
                          span Australia
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span.popup__icon.icon-flag.icon-flag--country-ca
                          span Canada
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span.popup__icon.icon-flag.icon-flag--country-ja
                          span Japan
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span.popup__icon.icon-flag.icon-flag--country-uk
                          span United Kingdom
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span.popup__icon.icon-flag.icon-flag--country-us
                          span United States

                  li.nav__list-item.footer-social__list-item
                    a.link.link--color_white.link--no-decor href='#' English
                    ul.popup.nav__list-dropdown.footer-social__list-dropdown
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span English
                      li.popup__item
                        a.link.link--color_default.link--no-decor href='#'
                          span Español

            .footer-social__col
              a.footer-social__social-link href="#"
                svg.footer-social__svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"
                  path fill="#2E3B4E" d="M16.4 6.6v.5c0 4.8-3.3 10.1-9.3 10.1-1.9 0-3.6-.4-5-1.4.3 0 .5.1.8.1 1.5 0 3-.6 4.1-1.6-1.4 0-2.6-1.1-3.1-2.5.2 0 .4.1.6.1.3 0 .7 0 1-.1C3.9 11.4 3 9.9 3 8.1c0 .3.7.4 1.2.5-.9-.7-1.4-1.8-1.4-3 0-.7.1-1.3.4-1.8C4.8 6 7.1 7.4 9.8 7.6v-.9c0-2 1.5-3.9 3.3-3.9.9 0 1.8.7 2.4 1.4.7-.2 1.4-.5 2.1-.9-.2.8-.8 1.6-1.4 2 .6-.1 1.2-.3 1.8-.6-.4.8-1 1.4-1.6 1.9z"
              a.footer-social__social-link href="#"
                svg.footer-social__svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"
                  path fill="#2E3B4E" d="M14.2 11l.4-3H11V6.3c0-.9.9-1.3 2.1-1.3h.9V2.1S12.7 2 11.6 2C9.3 2 8 3.4 8 6v2H5v3h3v7h3v-7h3.2z"
              a.footer-social__social-link href="#"
                svg.footer-social__svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"
                  path fill="#2F3C4E" d="M17.8 6.7c0-.9-.2-1.4-.4-1.9-.2-.6-.5-1-1-1.4-.5-.5-.9-.7-1.4-1-.5-.2-1.1-.3-1.9-.4H10c-2.1 0-2.5 0-3.3.1-.9 0-1.4.2-1.9.4-.6.2-1 .4-1.4.9-.5.4-.7.9-1 1.4-.2.6-.3 1.1-.3 2-.1.7-.1 1-.1 3.2s0 2.5.1 3.3c0 .9.2 1.4.4 1.9.2.6.5 1 1 1.4s.9.7 1.4 1c.4.2 1.1.3 1.9.4H10c2.1 0 2.4 0 3.2-.1.9 0 1.4-.2 1.9-.4.6-.2 1-.5 1.4-1 .5-.5.7-.9 1-1.4.2-.5.3-1.1.4-1.9 0-.9.1-1 .1-3.2-.1-2.1-.1-2.5-.2-3.3zm-1.4 6.5c0 .8-.2 1.2-.2 1.5-.2.4-.3.6-.6.9-.2.2-.6.5-.9.6-.3.1-.7.2-1.5.2-.9 0-1.1.1-3.2.1s-2.4 0-3.2-.1c-.8 0-1.2-.2-1.5-.2-.5-.1-.7-.2-1-.6-.2-.2-.5-.6-.6-.9-.2-.3-.3-.7-.3-1.5 0-.9-.1-1.1-.1-3.2 0-2.2 0-2.4.1-3.2 0-.8.2-1.2.2-1.5.2-.4.3-.6.6-.9.2-.2.6-.5.9-.6.5-.1.9-.3 1.7-.3.9 0 1.2-.1 3.2-.1s2.3 0 3.1.1c.8 0 1.2.2 1.5.2.4.2.6.3.9.6.3.3.5.7.6 1 .2.3.3.7.3 1.5 0 .9.1 1.1.1 3.2 0 2.2 0 2.4-.1 3.2zM10 5.9c-2.2 0-4.1 1.8-4.1 4.1s1.8 4.1 4.1 4.1 4-1.9 4-4.1-1.8-4.1-4-4.1m0 6.7c-1.4 0-2.6-1.2-2.6-2.6S8.5 7.4 10 7.4s2.6 1.2 2.6 2.6-1.2 2.6-2.6 2.6m5.1-6.8c0 .6-.4 1-1 1s-1-.4-1-1 .4-1 1-1 1 .4 1 1"

          .footer-links.footer-links--legal
            .footer-links__column
              span © 2020 Square, Inc.
            .footer-links__column
              ul.list.list--text_right
                li.list__item.list__item--font_inherit
                  a.link.list__link.list__link--color_white href='#' Privacy Notice
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Additional California Privacy Disclosure
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Terms of Service
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Licenses
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Government
                li.list__item
                  a.link.list__link.list__link--color_white href='#' Square Capital, LLC
