.get-started {
  text-align: right;
  padding: 10px 30px;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  visibility: hidden;
  z-index: 100;
  transform: translate3d(0, -75px, 0);
  @include main-container-limits;

  // delay for "visibility change" to finish animation first
  @include transition(transform 250ms cubic-bezier(0.4, 0, 0.6, 1), visibility 0s linear 250ms);
  @include shadow(0 4px 20px $grey-shadow);
  @include respond-to(mobile-l-screens) { text-align: center; }

  &--active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    // apply visibility immediately before object appears using animation
    @include transition(transform 250ms cubic-bezier(0.4, 0, 0.6, 1), visibility 0s linear 0ms);
  }
}
