.section {
  &__grid {
    display: grid;
    grid: auto / 180px auto;
    grid-gap: 25px;
    align-items: center;
    justify-content: center;

    @include respond-to(mobile-l-screens) { grid: initial; }
  }

  &__heading {
    margin: 0 0 0 0;
  }

  &__caption {
    // mod
    &--mb-0 {
      margin-bottom: 0;
    }
  }

  &__link {
    line-height: 40px;
  }

  &__head, &__body, &__footer {
    text-align: center;
  }

  &__head {
    @include respond-to(mobile-l-screens) { padding: 0 30px; }
    &--line-height_0 {
      line-height: 0;
    }
  }

  &__body {
    &--padding {
      padding: 10px 10px 20px 10px;
    }
    &--text_left {
      @media only screen and (min-width: $bp-mobile-l + 1) { text-align: left; }
      @include respond-to(mobile-l-screens) { padding: 0 30px; }
    }
  }

  &__image {
    width: 100%;
  }

  &__mini-text {
    font-size: 12px;
    line-height: 22px;
    margin: 0;

    @media only screen and (min-width: $bp-tablet) { text-align: left; }
  }

  // mods
  &--bg_blue {
    background-color: $white-blue;
  }

  &--padding {
    padding: 80px;

    @include respond-to(mobile-l-screens) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--vertical-padding {
    padding: 80px 0;
  }

  &--padding-bottom_md {
    padding-bottom: 60px;
  }

  &--overflow_hidden {
    overflow-x: hidden;
  }
}
