.btn {
  font-size: 1rem;
  line-height: 21px;
  font-weight: bold;
  padding: 15px 20px;
  color: white;
  background-color: $blue-light;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.5px; // kludge to make a font similar
  @include transition(background-color 150ms cubic-bezier(0.4, 0, 0.6, 1));

  &:hover {
    background-color: $blue-dark;
  }

  &--narrow {
    padding: 10px 20px;
  }

  &--transparent {
    background: transparent;
    border: 1px solid $blue-light;
    &:hover {
      background-color: transparent;
    }
  }
}
